@use "../util" as *;

.contact {
  &__links {
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
    flex-wrap: wrap;
  }

  &__link {
    color: var(--white);
    font-size: rem(20);
    font-weight: 300;
    display: flex;
    align-items: center;
    transition: all .3s ease;
    margin: 8px;
    &:hover {
      color: var(--secondary-blue);
    }
  }

  &__heading {
    text-align: center;
    margin: 24px;
  }

  &__form {
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    @include breakpoint-down(small) {
      width: 90vw; 
    }
  }
  
  &__icon {
    width: 32px;
    margin: 0 6px;
  }
}

.form {
  &__input {
    width: 460px;
    height: 48px;
    background: linear-gradient(
      90deg,
      rgba(191, 61, 92, 0.2) 15.28%,
      rgba(16, 70, 134, 0.2) 86.67%
    );
    position: relative;
    border: none;
    padding: 6px 12px;
    border-bottom: 1px solid var(--secondary-blue);
    font-family: inherit;
    color: var(--white);
    font-size: rem(18);
    font-weight: 300;
    @include breakpoint-down(small) {
      width: 90vw; 
    }

    &::placeholder {
      color: inherit;
      font-size: inherit;
      font-weight: inherit;
    }

    &:focus {
      outline: 1px solid var(--secondary-blue);
    }
  }

  &__textarea {
    height: 144px;
    margin: 16px;
    resize: none;
  }

  &__button {
    width: 230px;
    padding: 12px;
    font-family: inherit;
    border: none;
    background: linear-gradient(
      90deg,
      rgba(191, 61, 92, 1) 15.28%,
      rgba(16, 70, 134, 1) 86.67%
    );
    text-transform: uppercase;
    color: var(--white);
    cursor: pointer;
    margin-bottom: 24px;
    letter-spacing: 4px;
    font-size: rem(16);
    transition: all 0.3s ease;

    &:hover {
      transform: translateY(2px);
    }
  }
}
