@use "../util" as *;

.section {
  max-width: rem(1200);
  margin: auto;
	scroll-margin: 72px;

  &__heading {
    color: var(--white);
  }

  &__line {
    width: rem(80);
    height: rem(5);
    background: var(--blue-gradient);
    margin: 10px 0;
  }

  &__content {
    padding: 24px 0;
    display: flex;
    justify-content: center;
    align-items: center;

    &--col {
      flex-direction: column;
      justify-content: start;
      align-items: start;
    }
  }

  &__text {
    color: var(--white);
    font-weight: 300;
    font-size: rem(24);
  }
}

.content {
  &__image {
    width: 100%;
    height: 100%;
  }

  &__image-wrapper {
    width: 400px;
    height: 400px;
    margin: 0 30px;
    position: relative;
    transition: all 0.4s ease;

    &::before {
      content: "";
      width: 100%;
      height: 100%;
      position: absolute;
      top: -8px;
      left: -8px;
      border: 4px solid var(--primary-blue);
      transition: all 0.4s ease;
    }

    &:hover {
      transform: scale(1.02);

      &:before {
        transform: translate(16px, 16px);
      }
    }
  }

  &__text-wrapper {
    width: 600px;
  }
}
