@use "../util" as *;

.skills {
  &__heading {
    margin-top: 16px;
    font-size: rem(24);
    font-weight: 400;
    color: var(--white);
  }

  &__list {
    margin: 8px 0 16px;
    font-size: rem(18);
    width: 100%;
    list-style-type: none;
    display: flex;
    align-items: center;
    @include breakpoint-down(small) {
      flex-wrap: wrap;
      justify-content: center;
    }
  }

  &__item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 32px;
    transition: all 0.5s ease;

    &:hover {
      transform: scale(1.15);
    }
  }

  &__icon {
    width: 64px;
    margin-top: 8px;

    @include breakpoint-down(medium) {
      width: 48px;
    }
  }

  &__text {
    color: var(--white);
    margin: 8px 0;
  }
}
